
html, body {
  margin: 0;
  min-height: 100%;
}

body {
  background-color: #171717;
}

header {
  width: calc(100% - 16px);
  height: 50px;
  padding: 8px;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffc107;
  margin: 0;
  font-family: Archivo Black;
}

main {
  padding-top: 66px;
  padding-bottom: 66px;
  display: flex;
  justify-content: center;
}

.hq-list {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap; 
}

.hq {
  padding: 8px;
  margin: 8px;
  background-color: #333333;
  color: white;
  text-align: center;
  font-family: Pathway Gothic One;
}

.hq img {
  height: 250px;
}

@media screen and (max-width: 728px) {
  .hq img {
    width: 100%;
    height: unset;
  }

  .hq {
    width: calc(50% - 32px);
  }
}

.hq h3 {
  margin: 4px;
}

.hq button, #cart button {
  width: 100%;
  border: 0;
  border-radius: 8px;
  font-family: Pathway Gothic One;
  background: white;
  color: black;
  font-size: 18px;
  margin-top: 6px;
  cursor: pointer;
  transition: 0.5s all;
}

button:focus, button:hover {
  filter: brightness(0.8);
}

*:focus {
  outline: none;
}

#cart {
  width: calc(100% - 16px);
  position: fixed;
  bottom: 0;
  background-color: black;
  height: 50px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Archivo Black;
  color: white;

}

#cart-total {
  font-size: 20px;
}

#cart-totalValue {
  color: #ffc107;
}

#cart button {
  background-color: #ffc107;
  width: unset;
  font-size: 20px;
}